package ui

import "github.com/fastygo/ui8kit/utils"

templ Badge(props BadgeProps, label string) {
	<span class={ utils.Cn(utils.BadgeStyleVariant(props.Variant), utils.BadgeSizeVariant(props.Size), props.UtilityProps.Resolve(), props.Class) }>{ label }</span>
}
