package ui

import "github.com/fastygo/ui8kit/utils"

templ Container(props ContainerProps) {
	<div class={ utils.Cn("max-w-7xl mx-auto px-4", props.UtilityProps.Resolve(), props.Class) }>
		{ children... }
	</div>
}
