package ui

templ Grid(props GridProps) {
	<div class={ gridClasses(props) }>
		{ children... }
	</div>
}

templ GridCol(props GridColProps) {
	<div class={ gridColClasses(props) }>
		{ children... }
	</div>
}
