package ui

templ Image(props ImageProps) {
	<img
		src={ props.Src }
		alt={ props.Alt }
		width={ props.Width }
		height={ props.Height }
		loading={ imageLoading(props.Loading) }
		class={ imageClasses(props) }
	/>
}
