package ui

import "github.com/fastygo/ui8kit/utils"

templ Stack(props StackProps) {
	<div class={ utils.Cn("flex flex-col gap-4 items-start justify-start", props.UtilityProps.Resolve(), props.Class) }>
		{ children... }
	</div>
}
